.md-icon-button {
	padding: unset;
	min-width: 40px;
	display: flex;
	justify-content: center;

	svg {
		width: 24px;
		height: auto;
		aspect-ratio: 1;
		fill: currentColor;
	}
}

.md-tonal-button {
	--md-comp-button-container-color: var(--md-sys-color-secondary-container);
	--md-comp-button-label-text-color: var(--md-sys-color-on-secondary-container);
}

.md-text-button {
	--md-comp-button-container-color: transparent;
	--md-comp-button-label-text-color: var(--md-sys-color-primary);
}
