@import 'typography.css';

:root {
	--md-sys-shape-corner-value-none: 0;
	--md-sys-shape-corner-value-extra-small: 4px;
	--md-sys-shape-corner-value-small: 8px;
	--md-sys-shape-corner-value-medium: 12px;
	--md-sys-shape-corner-value-large: 16px;
	--md-sys-shape-corner-value-large-increased: 20px;
	--md-sys-shape-corner-value-extra-large: 28px;
	--md-sys-shape-corner-value-extra-large-increased: 32px;
	--md-sys-shape-corner-value-extra-extra-large: 48px;
	--md-sys-shape-corner-value-full: calc(infinity * 1px);
}

html {
	accent-color: var(--md-sys-color-primary);
	color: var(--md-sys-color-on-surface);
	background-color: var(--md-sys-color-surface);

	font-family: var(--md-sys-typescale-body-large-font);
	font-weight: var(--md-sys-typescale-body-large-weight);
	font-size: var(--md-sys-typescale-body-large-size);
	line-height: var(--md-sys-typescale-body-large-line-height);

	scrollbar-color: var(--md-sys-color-on-surface-variant) var(--md-sys-color-surface);
}

* {
	border-color: var(--md-sys-color-outline);
}

::selection {
	color: var(--md-sys-color-on-primary);
	background-color: var(--md-sys-color-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--md-sys-typescale-headline-large-font);
	font-weight: var(--md-sys-typescale-headline-large-weight);
	font-size: var(--md-sys-typescale-headline-large-size);
	line-height: var(--md-sys-typescale-headline-large-line-height);
}

hr {
	border-color: var(--md-sys-color-outline-variant);
}

a,
a:visited {
	color: var(--md-sys-color-primary);
}

input:where(:not(:is([type=file], [type=radio], [type=checkbox]), search > input)),
select,
textarea {
	border-radius: var(--md-sys-shape-corner-value-extra-small);
	background-color: transparent;
	height: 56px;
	border-width: 1px;
	caret-color: var(--md-sys-color-primary);
	padding-block: 0;
	padding-inline: 16px;
	color: var(--md-sys-color-on-surface);

	&:hover {
		border-color: var(--md-sys-color-on-surface);
	}

	&:focus-visible {
		outline: 3px solid var(--md-sys-color-primary);
	}

	&::placeholder {
		color: var(--md-sys-color-on-surface-variant);
	}

	label:has(+ &) {
		--md-comp-outlined-text-field-label-text-background-color: var(--md-sys-color-surface);

		color: var(--md-sys-color-on-surface-variant);
		font-family: var(--md-sys-typescale-label-medium-font);
		font-weight: var(--md-sys-typescale-label-medium-weight);
		font-size: var(--md-sys-typescale-label-medium-size);
		line-height: var(--md-sys-typescale-label-medium-line-height);

		position: absolute;
		padding-inline: 4px;
		background-color: var(--md-comp-outlined-text-field-label-text-background-color);
		transform: translateX(12px) translateY(-8px);
	}
}

search>input {
	height: 56px;
	background-color: var(--md-sys-color-surface-container-high);
	border: none;
	padding-inline: 16px;
	color: var(--md-sys-color-on-surface);
	border-radius: var(--md-sys-shape-corner-value-full);

	&:focus-visible {
		outline: 3px solid var(--md-sys-color-secondary);
	}
}

option {
	background-color: var(--md-sys-color-surface);
}

button,
input:is([type=button], [type=submit], [type=reset]),
input::file-selector-button {
	height: 40px;
	padding-inline: 16px;
	padding-block: 0;
	border: none;
	background-color: var(--md-sys-color-primary);
	color: var(--md-sys-color-on-primary);
	border-radius: var(--md-sys-shape-corner-value-full);
	font-family: var(--md-sys-typescale-label-large-font);
	font-weight: var(--md-sys-typescale-label-large-weight);
	font-size: var(--md-sys-typescale-label-large-size);
	line-height: var(--md-sys-typescale-label-large-line-height);

	&:hover {
		background-color: color-mix(in oklab, var(--md-sys-color-primary), var(--md-sys-color-on-primary) 8%);
	}

	&:focus-visible,
	&:active {
		background-color: color-mix(in oklab, var(--md-sys-color-primary), var(--md-sys-color-on-primary) 10%);
	}
}

input[type=file] {
	&:hover::file-selector-button {
		background-color: color-mix(in oklab, var(--md-sys-color-primary), var(--md-sys-color-on-primary) 8%);
	}

	&:is(:focus-visible, :active)::file-selector-button {
		background-color: color-mix(in oklab, var(--md-sys-color-primary), var(--md-sys-color-on-primary) 10%);
	}
}

dialog {
	border-width: 0;
	background-color: var(--md-sys-color-surface-container-high);
	border-radius: var(--md-sys-shape-corner-value-extra-large);
	padding: 24px;

	&:focus-visible {
		outline: none;
	}
}