:root {
	--md-sys-shape-corner-value-none: 0;
	--md-sys-shape-corner-value-extra-small: 4px;
	--md-sys-shape-corner-value-small: 8px;
	--md-sys-shape-corner-value-medium: 12px;
	--md-sys-shape-corner-value-large: 16px;
	--md-sys-shape-corner-value-large-increased: 20px;
	--md-sys-shape-corner-value-extra-large: 28px;
	--md-sys-shape-corner-value-extra-large-increased: 32px;
	--md-sys-shape-corner-value-extra-extra-large: 48px;
	--md-sys-shape-corner-value-full: calc(infinity * 1px);
}

html {
	accent-color: var(--md-sys-color-primary);
	color: var(--md-sys-color-on-surface);
	background-color: var(--md-sys-color-surface);
}

* {
	border-color: var(--md-sys-color-outline);
}

hr {
	border-color: var(--md-sys-color-outline-variant);
}

a,
a:visited {
	color: var(--md-sys-color-primary);
}

input:where(:not(:is([type=file], [type=radio], [type=checkbox]))),
select,
textarea {
	border-radius: var(--md-sys-shape-corner-value-extra-small);
	background-color: transparent;
	height: 56px;
	border-width: 1px;
	caret-color: var(--md-sys-color-primary);
	padding-block: 0;
	padding-inline: 16px;
	color: var(--md-sys-color-on-surface);

	&:hover {
		border-color: var(--md-sys-color-on-surface);
	}

	&:focus-visible {
		outline: 3px solid var(--md-sys-color-primary);
	}

	&::placeholder {
		color: var(--md-sys-color-on-surface-variant);
	}
}

option {
	background-color: var(--md-sys-color-surface);
}

button,
input:is([type=button], [type=submit], [type=reset]),
input::file-selector-button {
	height: 40px;
	padding-inline: 16px;
	padding-block: 0;
	border: none;
	background-color: var(--md-sys-color-primary);
	color: var(--md-sys-color-on-primary);
	border-radius: var(--md-sys-shape-corner-value-full);

	&:hover {
		background-color: color-mix(in oklab, var(--md-sys-color-primary), var(--md-sys-color-on-primary) 8%);
	}

	&:focus-visible,
	&:active {
		background-color: color-mix(in oklab, var(--md-sys-color-primary), var(--md-sys-color-on-primary) 10%);
	}
}

input[type=file] {
	&:hover::file-selector-button {
		background-color: color-mix(in oklab, var(--md-sys-color-primary), var(--md-sys-color-on-primary) 8%);
	}

	&:is(:focus-visible, :active)::file-selector-button {
		background-color: color-mix(in oklab, var(--md-sys-color-primary), var(--md-sys-color-on-primary) 10%);
	}
}
