html {
	accent-color: var(--md-sys-color-primary);
	color: var(--md-sys-color-on-surface);
	background-color: var(--md-sys-color-surface);
}

hr {
	border-color: var(--md-sys-color-outline-variant);
}

fieldset {
	border-color: var(--md-sys-color-outline);
}

a,
a:visited {
	color: var(--md-sys-color-primary);
}

button,
input[type=button],
input[type=submit],
input[type=reset],
input::file-selector-button {
	height: 40px;
	padding-inline: 16px;
	padding-block: 0;
	border: none;
	background-color: var(--md-sys-color-primary);
	color: var(--md-sys-color-on-primary);
	border-radius: calc(infinity * 1px);

	&:hover {
		background-color: color-mix(in oklab, var(--md-sys-color-primary), var(--md-sys-color-on-primary) 8%);
	}

	&:focus-visible, &:active {
		background-color: color-mix(in oklab, var(--md-sys-color-primary), var(--md-sys-color-on-primary) 10%);
	}
}

input:hover::file-selector-button {
	background-color: color-mix(in oklab, var(--md-sys-color-primary), var(--md-sys-color-on-primary) 8%);
}

input:focus-visible::file-selector-button, input:active::file-selector-button {
	background-color: color-mix(in oklab, var(--md-sys-color-primary), var(--md-sys-color-on-primary) 10%);
}
