@layer normalize, reset, theme;
@import 'normalize.css/normalize.css' layer(normalize);
@import 'reset-box-sizing.css' layer(reset);
@import 'reset-html-body.css' layer(reset);
@import "m3-color-css/theme/palette" layer(theme);
@import "m3-color-css/theme/light" layer(theme);
@import "m3-color-css/theme/dark" layer(theme);
@import "m3-color-css/theme/light-mc" layer(theme);
@import "m3-color-css/theme/dark-mc" layer(theme);
@import "m3-color-css/theme/light-hc" layer(theme);
@import "m3-color-css/theme/dark-hc" layer(theme);
@import 'color-scheme.css' layer(theme);
@import 'kitchen-sink.css' layer(theme);
