@layer normalize, theme;
@import 'normalize.css/normalize.css' layer(normalize);
@import "m3-color-css/theme/palette" layer(theme);
@import "m3-color-css/theme/light" layer(theme);
@import "m3-color-css/theme/dark" layer(theme);
@import "m3-color-css/theme/light-mc" layer(theme);
@import "m3-color-css/theme/dark-mc" layer(theme);
@import "m3-color-css/theme/light-hc" layer(theme);
@import "m3-color-css/theme/dark-hc" layer(theme);

html {
	color-scheme: light dark;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

*,
:after,
:before {
	box-sizing: inherit
}
