@import 'normalize.css/normalize.css';

html {
	color-scheme: light dark;
}

html {
	height: 100%;
	scrollbar-gutter: stable both-edges;
}

body {
	height: 100%;
}

div,
main {
	box-sizing: border-box;
}