:root {
	--md-ref-typeface-brand: Roboto;
	--md-ref-typeface-plain: Roboto;

	--md-ref-typeface-weight-regular: 400;
	--md-ref-typeface-weight-medium: 500;
	--md-ref-typeface-weight-bold: 700;

	/* display */
	--md-sys-typescale-display-large-font: var(--md-ref-typeface-brand);
	--md-sys-typescale-display-large-weight: var(--md-ref-typeface-weight-regular);
	--md-sys-typescale-display-large-size: 57px;
	--md-sys-typescale-display-large-line-height: 64px;

	--md-sys-typescale-display-medium-font: var(--md-ref-typeface-brand);
	--md-sys-typescale-display-medium-weight: var(--md-ref-typeface-weight-regular);
	--md-sys-typescale-display-medium-size: 45px;
	--md-sys-typescale-display-medium-line-height: 52px;

	--md-sys-typescale-display-small-font: var(--md-ref-typeface-brand);
	--md-sys-typescale-display-small-weight: var(--md-ref-typeface-weight-regular);
	--md-sys-typescale-display-small-size: 36px;
	--md-sys-typescale-display-small-line-height: 44px;

	/* headline */
	--md-sys-typescale-headline-large-font: var(--md-ref-typeface-brand);
	--md-sys-typescale-headline-large-weight: var(--md-ref-typeface-weight-regular);
	--md-sys-typescale-headline-large-size: 32px;
	--md-sys-typescale-headline-large-line-height: 40px;

	--md-sys-typescale-headline-medium-font: var(--md-ref-typeface-brand);
	--md-sys-typescale-headline-medium-weight: var(--md-ref-typeface-weight-regular);
	--md-sys-typescale-headline-medium-size: 28px;
	--md-sys-typescale-headline-medium-line-height: 36px;

	--md-sys-typescale-headline-small-font: var(--md-ref-typeface-brand);
	--md-sys-typescale-headline-small-weight: var(--md-ref-typeface-weight-regular);
	--md-sys-typescale-headline-small-size: 24px;
	--md-sys-typescale-headline-small-line-height: 32px;

	/* title */
	--md-sys-typescale-title-large-font: var(--md-ref-typeface-plain);
	--md-sys-typescale-title-large-weight: var(--md-ref-typeface-weight-regular);
	--md-sys-typescale-title-large-size: 22px;
	--md-sys-typescale-title-large-line-height: 28px;

	--md-sys-typescale-title-medium-font: var(--md-ref-typeface-plain);
	--md-sys-typescale-title-medium-weight: var(--md-ref-typeface-weight-regular);
	--md-sys-typescale-title-medium-size: 16px;
	--md-sys-typescale-title-medium-line-height: 24px;

	--md-sys-typescale-title-small-font: var(--md-ref-typeface-plain);
	--md-sys-typescale-title-small-weight: var(--md-ref-typeface-weight-regular);
	--md-sys-typescale-title-small-size: 14px;
	--md-sys-typescale-title-small-line-height: 20px;

	/* body */
	--md-sys-typescale-body-large-font: var(--md-ref-typeface-plain);
	--md-sys-typescale-body-large-weight: var(--md-ref-typeface-weight-regular);
	--md-sys-typescale-body-large-size: 16px;
	--md-sys-typescale-body-large-line-height: 24px;

	--md-sys-typescale-body-medium-font: var(--md-ref-typeface-plain);
	--md-sys-typescale-body-medium-weight: var(--md-ref-typeface-weight-regular);
	--md-sys-typescale-body-medium-size: 14px;
	--md-sys-typescale-body-medium-line-height: 20px;

	--md-sys-typescale-body-small-font: var(--md-ref-typeface-plain);
	--md-sys-typescale-body-small-weight: var(--md-ref-typeface-weight-regular);
	--md-sys-typescale-body-small-size: 12px;
	--md-sys-typescale-body-small-line-height: 16px;

	/* label */
	--md-sys-typescale-label-large-font: var(--md-ref-typeface-plain);
	--md-sys-typescale-label-large-weight: var(--md-ref-typeface-weight-medium);
	--md-sys-typescale-label-large-size: 14px;
	--md-sys-typescale-label-large-line-height: 20px;

	--md-sys-typescale-label-medium-font: var(--md-ref-typeface-plain);
	--md-sys-typescale-label-medium-weight: var(--md-ref-typeface-weight-medium);
	--md-sys-typescale-label-medium-size: 12px;
	--md-sys-typescale-label-medium-line-height: 16px;

	--md-sys-typescale-label-small-font: var(--md-ref-typeface-plain);
	--md-sys-typescale-label-small-weight: var(--md-ref-typeface-weight-medium);
	--md-sys-typescale-label-small-size: 11px;
	--md-sys-typescale-label-small-line-height: 16px;
}

.md-typescale-display-large {
	font-family: var(--md-sys-typescale-display-large-font);
	font-weight: var(--md-sys-typescale-display-large-weight);
	font-size: var(--md-sys-typescale-display-large-size);
	line-height: var(--md-sys-typescale-display-large-line-height);
}
