:root {
	--md-ref-typeface-brand: Roboto;
	--md-ref-typeface-plain: Roboto;

	--md-ref-typeface-weight-regular: 400;
	--md-ref-typeface-weight-medium: 500;
	--md-ref-typeface-weight-bold: 700;

	/* display */
	--md-sys-typescale-display-large-font: var(--md-ref-typeface-brand);
	--md-sys-typescale-display-large-weight: var(--md-ref-typeface-weight-regular);
	/* 57px */
	--md-sys-typescale-display-large-size: 3.5625rem;
	/* 64px */
	--md-sys-typescale-display-large-line-height: 4rem;

	--md-sys-typescale-display-medium-font: var(--md-ref-typeface-brand);
	--md-sys-typescale-display-medium-weight: var(--md-ref-typeface-weight-regular);
	/* 45px */
	--md-sys-typescale-display-medium-size: 2.8125rem;
	/* 52px */
	--md-sys-typescale-display-medium-line-height: 3.25rem;

	--md-sys-typescale-display-small-font: var(--md-ref-typeface-brand);
	--md-sys-typescale-display-small-weight: var(--md-ref-typeface-weight-regular);
	/* 36px */
	--md-sys-typescale-display-small-size: 2.25rem;
	/* 44px */
	--md-sys-typescale-display-small-line-height: 2.75rem;

	/* headline */
	--md-sys-typescale-headline-large-font: var(--md-ref-typeface-brand);
	--md-sys-typescale-headline-large-weight: var(--md-ref-typeface-weight-regular);
	/* 32px */
	--md-sys-typescale-headline-large-size: 2rem;
	/* 40px */
	--md-sys-typescale-headline-large-line-height: 2.5rem;

	--md-sys-typescale-headline-medium-font: var(--md-ref-typeface-brand);
	--md-sys-typescale-headline-medium-weight: var(--md-ref-typeface-weight-regular);
	/* 28px */
	--md-sys-typescale-headline-medium-size: 1.75rem;
	/* 36px */
	--md-sys-typescale-headline-medium-line-height: 2.25rem;

	--md-sys-typescale-headline-small-font: var(--md-ref-typeface-brand);
	--md-sys-typescale-headline-small-weight: var(--md-ref-typeface-weight-regular);
	/* 24px */
	--md-sys-typescale-headline-small-size: 1.5rem;
	/* 32px */
	--md-sys-typescale-headline-small-line-height: 2rem;

	/* title */
	--md-sys-typescale-title-large-font: var(--md-ref-typeface-plain);
	--md-sys-typescale-title-large-weight: var(--md-ref-typeface-weight-regular);
	/* 22px */
	--md-sys-typescale-title-large-size: 1.375rem;
	/* 28px */
	--md-sys-typescale-title-large-line-height: 1.75rem;

	--md-sys-typescale-title-medium-font: var(--md-ref-typeface-plain);
	--md-sys-typescale-title-medium-weight: var(--md-ref-typeface-weight-regular);
	/* 16px */
	--md-sys-typescale-title-medium-size: 1rem;
	/* 24px */
	--md-sys-typescale-title-medium-line-height: 1.5rem;

	--md-sys-typescale-title-small-font: var(--md-ref-typeface-plain);
	--md-sys-typescale-title-small-weight: var(--md-ref-typeface-weight-regular);
	/* 14px */
	--md-sys-typescale-title-small-size: 0.875rem;
	/* 20px */
	--md-sys-typescale-title-small-line-height: 1.25rem;

	/* body */
	--md-sys-typescale-body-large-font: var(--md-ref-typeface-plain);
	--md-sys-typescale-body-large-weight: var(--md-ref-typeface-weight-regular);
	/* 16px */
	--md-sys-typescale-body-large-size: 1rem;
	/* 24px */
	--md-sys-typescale-body-large-line-height: 1.5rem;

	--md-sys-typescale-body-medium-font: var(--md-ref-typeface-plain);
	--md-sys-typescale-body-medium-weight: var(--md-ref-typeface-weight-regular);
	/* 14px */
	--md-sys-typescale-body-medium-size: 0.875rem;
	/* 20px */
	--md-sys-typescale-body-medium-line-height: 1.25rem;

	--md-sys-typescale-body-small-font: var(--md-ref-typeface-plain);
	--md-sys-typescale-body-small-weight: var(--md-ref-typeface-weight-regular);
	/* 12px */
	--md-sys-typescale-body-small-size: 0.75rem;
	/* 16px */
	--md-sys-typescale-body-small-line-height: 1rem;

	/* label */
	--md-sys-typescale-label-large-font: var(--md-ref-typeface-plain);
	--md-sys-typescale-label-large-weight: var(--md-ref-typeface-weight-medium);
	/* 14px */
	--md-sys-typescale-label-large-size: 0.875rem;
	/* 20px */
	--md-sys-typescale-label-large-line-height: 1.25rem;

	--md-sys-typescale-label-medium-font: var(--md-ref-typeface-plain);
	--md-sys-typescale-label-medium-weight: var(--md-ref-typeface-weight-medium);
	/* 12px */
	--md-sys-typescale-label-medium-size: 0.75rem;
	/* 16px */
	--md-sys-typescale-label-medium-line-height: 1rem;

	--md-sys-typescale-label-small-font: var(--md-ref-typeface-plain);
	--md-sys-typescale-label-small-weight: var(--md-ref-typeface-weight-medium);
	/* 11px */
	--md-sys-typescale-label-small-size: 0.6875rem;
	/* 16px */
	--md-sys-typescale-label-small-line-height: 1rem;
}

.md-typescale-display-large {
	font-family: var(--md-sys-typescale-display-large-font);
	font-weight: var(--md-sys-typescale-display-large-weight);
	font-size: var(--md-sys-typescale-display-large-size);
	line-height: var(--md-sys-typescale-display-large-line-height);
}

.md-typescale-display-medium {
	font-family: var(--md-sys-typescale-display-medium-font);
	font-weight: var(--md-sys-typescale-display-medium-weight);
	font-size: var(--md-sys-typescale-display-medium-size);
	line-height: var(--md-sys-typescale-display-medium-line-height);
}

.md-typescale-display-small {
	font-family: var(--md-sys-typescale-display-small-font);
	font-weight: var(--md-sys-typescale-display-small-weight);
	font-size: var(--md-sys-typescale-display-small-size);
	line-height: var(--md-sys-typescale-display-small-line-height);
}

.md-typescale-headline-large {
	font-family: var(--md-sys-typescale-headline-large-font);
	font-weight: var(--md-sys-typescale-headline-large-weight);
	font-size: var(--md-sys-typescale-headline-large-size);
	line-height: var(--md-sys-typescale-headline-large-line-height);
}

.md-typescale-headline-medium {
	font-family: var(--md-sys-typescale-headline-medium-font);
	font-weight: var(--md-sys-typescale-headline-medium-weight);
	font-size: var(--md-sys-typescale-headline-medium-size);
	line-height: var(--md-sys-typescale-headline-medium-line-height);
}

.md-typescale-headline-small {
	font-family: var(--md-sys-typescale-headline-small-font);
	font-weight: var(--md-sys-typescale-headline-small-weight);
	font-size: var(--md-sys-typescale-headline-small-size);
	line-height: var(--md-sys-typescale-headline-small-line-height);
}

.md-typescale-title-large {
	font-family: var(--md-sys-typescale-title-large-font);
	font-weight: var(--md-sys-typescale-title-large-weight);
	font-size: var(--md-sys-typescale-title-large-size);
	line-height: var(--md-sys-typescale-title-large-line-height);
}

.md-typescale-title-medium {
	font-family: var(--md-sys-typescale-title-medium-font);
	font-weight: var(--md-sys-typescale-title-medium-weight);
	font-size: var(--md-sys-typescale-title-medium-size);
	line-height: var(--md-sys-typescale-title-medium-line-height);
}

.md-typescale-title-small {
	font-family: var(--md-sys-typescale-title-small-font);
	font-weight: var(--md-sys-typescale-title-small-weight);
	font-size: var(--md-sys-typescale-title-small-size);
	line-height: var(--md-sys-typescale-title-small-line-height);
}

.md-typescale-body-large {
	font-family: var(--md-sys-typescale-body-large-font);
	font-weight: var(--md-sys-typescale-body-large-weight);
	font-size: var(--md-sys-typescale-body-large-size);
	line-height: var(--md-sys-typescale-body-large-line-height);
}

.md-typescale-body-medium {
	font-family: var(--md-sys-typescale-body-medium-font);
	font-weight: var(--md-sys-typescale-body-medium-weight);
	font-size: var(--md-sys-typescale-body-medium-size);
	line-height: var(--md-sys-typescale-body-medium-line-height);
}

.md-typescale-body-small {
	font-family: var(--md-sys-typescale-body-small-font);
	font-weight: var(--md-sys-typescale-body-small-weight);
	font-size: var(--md-sys-typescale-body-small-size);
	line-height: var(--md-sys-typescale-body-small-line-height);
}

.md-typescale-label-large {
	font-family: var(--md-sys-typescale-label-large-font);
	font-weight: var(--md-sys-typescale-label-large-weight);
	font-size: var(--md-sys-typescale-label-large-size);
	line-height: var(--md-sys-typescale-label-large-line-height);
}

.md-typescale-label-medium {
	font-family: var(--md-sys-typescale-label-medium-font);
	font-weight: var(--md-sys-typescale-label-medium-weight);
	font-size: var(--md-sys-typescale-label-medium-size);
	line-height: var(--md-sys-typescale-label-medium-line-height);
}

.md-typescale-label-small {
	font-family: var(--md-sys-typescale-label-small-font);
	font-weight: var(--md-sys-typescale-label-small-weight);
	font-size: var(--md-sys-typescale-label-small-size);
	line-height: var(--md-sys-typescale-label-small-line-height);
}
