:host {
	height: 100%;
	display: block;
	container-type: inline-size;
}

.builder-container {
	display: grid;
	height: 100%;
	grid-auto-flow: column;
	grid-auto-columns: 1fr;
	grid-auto-rows: 1fr;

	@container (width < 700px) {
		grid-auto-flow: row;
	}
}

.collection-container,
.deck-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
	gap: 10px;
	overflow-y: auto;
}

.card {
	height: auto;
	aspect-ratio: 63 / 88;
	--background-image-url: url(https://assets.tcgdex.net/en/me/me01/059/low.webp);

	background-image: var(--background-image-url);
	background-repeat: no-repeat;
	background-size: contain;
	display: grid;
	justify-items: center;
	align-content: space-evenly;
}

.card-quantity {
	background-color: pink;
	border-radius: 50%;
	padding: 10px;
	aspect-ratio: 1;
	text-align: center;
}
