:host {
	height: 100%;
	display: block;
	container-type: inline-size;
}

.builder-container {
	display: grid;
	height: 100%;
	grid-auto-flow: column;
	grid-auto-columns: 1fr;
	grid-auto-rows: 1fr;

	@container (width < 700px) {
		grid-auto-flow: row;
	}
}

.collection-container {
	display: grid;
	grid-template-rows: auto 1fr;
	overflow: auto;
}

.collection-cards,
.deck-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
	gap: 10px;
	overflow-y: auto;
	align-content: start;
}

.card {
	height: auto;
	aspect-ratio: 63 / 88;

	background-image: var(--background-image-url);
	background-repeat: no-repeat;
	background-size: contain;
	display: grid;
	align-content: space-evenly;
	justify-content: center;
}

.card-quantity {
	background-color: #a7a7a7;
	border-radius: 50%;
	aspect-ratio: 1;
	width: 50px;
	display: grid;
	justify-items: center;
	align-items: center;
	margin-inline: auto;
}

.quantity-buttons {
	display: grid;
	grid-auto-flow: column;
	justify-items: center;
	gap: 25px;
}

.card-button {
	aspect-ratio: 1;
	width: 40px;
	height: auto;
}