version: "3.8"

services:
  deck-builder:
    container_name: deck-builder
    build:
      context: .
      dockerfile: DeckBuilderDockerfile
      args:
        DEV_MODE: ${DEV_MODE:-true}
    ports:
      - "4200:4200"
  tcgdex-api:
    container_name: tcgdex-api
    image: tcgdex/server:pr-989
    restart: unless-stopped
    environment:
      # by default the server will start a worker for each threads available
      # You can downgrade the max number of workers by changing this value
      - MAX_WORKERS=2
    ports:
      - 3000:3000 # You can choose any port you want
  mongodb:
    image: mongodb/mongodb-community-server:7.0-ubi8
    container_name: mongodb_server
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
  collection-api:
    container_name: collection-api
    build:
      context: .
      dockerfile: CollectionApiDockerfile
    ports:
      - "4000:4000"
    environment:
      - MONGO_DB_DATABASE_URL=mongodb://mongodb:27017
      - DECK_BUILDER_URL=${DECK_BUILDER_URL:-http://localhost:4200}

volumes:
  mongo_data:
    driver: local
