:host {
	display: grid;
	grid-template-rows: auto 1fr;
	gap: 16px;
	align-items: center;
	align-content: start;
	container-type: size;
}

.collection-actions {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-inline: 24px;
}

.collection-cards {
	display: flex;
	padding-inline: 24px;
	gap: 8px;
	overflow-x: auto;
	height: 100%;

	@container (height > 300px) {
		display: grid;
		padding-inline: unset;
		margin-inline: 24px;
		overflow-x: unset;
		overflow-y: auto;
		grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
		justify-content: space-between;
		align-content: start;
		justify-items: center;

		.collection-card {
			width: 100%;
			animation: unset;
		}
	}
}

.collection-card {
	animation: ease-in-out slide-in,
		ease-in-out slide-out;
	animation-timeline: view(inline);
	animation-range: entry 0% entry 50%, exit 50% 100%;
}

@keyframes slide-in {
	from {
		opacity: 0;
		transform: scale(.5);
		transform-origin: left;
	}
}

@keyframes slide-out {
	to {
		opacity: 0;
		transform: scale(.5);
		transform-origin: right;
	}
}

label[for=pokemon-type-filter] {
	display: none;
}

select,
::picker(select) {
	appearance: base-select;
}

select {
	background-color: var(--md-sys-color-surface);
    border: none;
	min-height: unset;
	padding-block: 10px;
	border-radius: var(--md-sys-shape-corner-value-large);
}

select button {
	color: var(--md-sys-color-on-surface);
	min-height: unset;
}

select button svg {
	width: 24px;
    height: auto;
    aspect-ratio: 1;
    fill: currentColor;
}

::picker(select) {
	border: none;
	background-color: pink;
}

select::picker-icon {
	display: none;
}

selectedcontent, option {
    display: flex;
    align-items: center;
}

option {
	padding-block: 10px;
	padding-inline: 16px;
	border-radius: var(--md-sys-shape-corner-value-large);
}

option:hover,
option:focus {
	background-color: pink;
}

option:checked {
	font-weight: bold;
}

option::checkmark {
	display: none;
}
