:host {
	display: contents;
}

.rename-deck {
	display: grid;
	gap: 16px;
}

.rename-deck-name {
	width: 100%;
}

.rename-deck-actions {
	display: grid;
	grid-auto-flow: column;
	justify-content: end;
	gap: 12px;
}

