:host {
	display: grid;
	grid-template-rows: 1fr auto;
	height: 100%;
	background-color: var(--md-sys-color-surface-container);
	padding-block: 24px;
	gap: 24px;
}

.deck-pane {
	margin-inline: 24px;
	background-color: var(--md-sys-color-surface);
	border-radius: var(--md-sys-shape-corner-value-medium);
	padding-inline: 8px;
	padding-block-start: 8px;

	display: grid;
	grid-template-rows: auto auto 1fr;
	gap: 16px;
	overflow-y: hidden;
}

.heading {
	display: grid;
	grid-auto-flow: column;
	justify-content: space-between;
	align-items: center;
}

.deck-actions {
	display: flex;
	gap: 12px;
}

.deck-cards {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
	justify-content: space-between;
	gap: 8px;
	padding-block-end: 8px;
	align-content: start;
	justify-items: center;
	overflow-y: auto;
}

.deck-card {
	width: 100%;
}

.collection-pane {
	display: grid;
	gap: 16px;
}

.collection-actions {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-inline: 24px;
}

.collection-cards {
	padding-inline: 24px;
	display: flex;
	gap: 8px;
	overflow-x: auto;

}

.detail {
	display: grid;
	grid-template-rows: 1fr auto;
	gap: 16px;
}

.detail-card {
	width: 350px;
}

.detail-actions {
	display: grid;
	grid-auto-flow: column;
	align-items: center;
	justify-content: center;
	gap: 12px;
}

.load-deck {
	display: grid;
	gap: 16px;
}

.load-deck-select {
	width: 100%;
}

.load-deck-actions {
	display: grid;
	grid-auto-flow: column;
	justify-content: end;
	gap: 12px;
}
