:host {
	display: grid;
	grid-template-rows: 1fr auto;
	height: 100%;
	background-color: var(--md-sys-color-surface-container);
	padding-block: 24px;
	gap: 24px;
}

.deck-pane {
	margin-inline: 24px;
	background-color: var(--md-sys-color-surface);
	border-radius: var(--md-sys-shape-corner-value-medium);
	padding-inline: 8px;
	padding-block-start: 8px;

	display: grid;
	grid-template-rows: auto auto 1fr;
	gap: 16px;
}

.heading {
	display: grid;
	grid-auto-flow: column;
	justify-content: space-between;
	align-items: center;
}

.deck-actions {
	display: flex;
	gap: 12px;
}

.collection-pane {
	display: grid;
	gap: 16px;
}

.collection-actions {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-inline: 24px;
}

.collection-cards {
	padding-inline: 24px;
	display: flex;
	gap: 8px;
	overflow-x: auto;
}