html {
	--theme-base-color: rebeccapurple;

	/* primary */
	--chroma-factor: 1.2;
	--palette-primary-base-color: var(--theme-base-color);

	--md-ref-palette-primary0: oklch(from var(--palette-primary-base-color) 0 0 h);
	--md-ref-palette-primary2: oklch(
		from var(--palette-primary-base-color) 14%
			calc((sin(0.009 * 02 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-primary3: oklch(
		from var(--palette-primary-base-color) 16%
			calc((sin(0.009 * 03 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-primary4: oklch(
		from var(--palette-primary-base-color) 17%
			calc((sin(0.009 * 04 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-primary5: oklch(
		from var(--palette-primary-base-color) 18%
			calc((sin(0.009 * 05 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-primary6: oklch(
		from var(--palette-primary-base-color) 20%
			calc((sin(0.009 * 06 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-primary10: oklch(
		from var(--palette-primary-base-color) 23%
			calc((sin(0.009 * 10 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-primary11: oklch(
		from var(--palette-primary-base-color) 24%
			calc((sin(0.009 * 11 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-primary12: oklch(
		from var(--palette-primary-base-color) 25%
			calc((sin(0.009 * 12 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-primary15: oklch(
		from var(--palette-primary-base-color) 28%
			calc((sin(0.009 * 15 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-primary16: oklch(
		from var(--palette-primary-base-color) 29%
			calc((sin(0.009 * 16 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-primary17: oklch(
		from var(--palette-primary-base-color) 30%
			calc((sin(0.009 * 17 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-primary18: oklch(
		from var(--palette-primary-base-color) 31%
			calc((sin(0.009 * 18 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-primary20: oklch(
		from var(--palette-primary-base-color) 33%
			calc((sin(0.009 * 20 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-primary21: oklch(
		from var(--palette-primary-base-color) 33%
			calc((sin(0.009 * 21 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-primary22: oklch(
		from var(--palette-primary-base-color) 34%
			calc((sin(0.009 * 22 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-primary23: oklch(
		from var(--palette-primary-base-color) 35%
			calc((sin(0.009 * 23 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-primary24: oklch(
		from var(--palette-primary-base-color) 36%
			calc((sin(0.009 * 24 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-primary25: oklch(
		from var(--palette-primary-base-color) 36%
			calc((sin(0.009 * 25 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-primary26: oklch(
		from var(--palette-primary-base-color) 37%
			calc((sin(0.009 * 26 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-primary29: oklch(
		from var(--palette-primary-base-color) 40%
			calc((sin(0.009 * 29 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-primary30: oklch(
		from var(--palette-primary-base-color) 41%
			calc((sin(0.009 * 30 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-primary31: oklch(
		from var(--palette-primary-base-color) 42%
			calc((sin(0.009 * 31 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-primary34: oklch(
		from var(--palette-primary-base-color) 44%
			calc((sin(0.009 * 34 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-primary35: oklch(
		from var(--palette-primary-base-color) 45%
			calc((sin(0.009 * 35 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-primary36: oklch(
		from var(--palette-primary-base-color) 46%
			calc((sin(0.009 * 36 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-primary40: oklch(
		from var(--palette-primary-base-color) 51%
			calc((sin(0.009 * 40 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-primary46: oklch(
		from var(--palette-primary-base-color) 55%
			calc((sin(0.009 * 46 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-primary50: oklch(
		from var(--palette-primary-base-color) 59%
			calc((sin(0.009 * 50 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-primary60: oklch(
		from var(--palette-primary-base-color) 68%
			calc((sin(0.009 * 60 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-primary70: oklch(
		from var(--palette-primary-base-color) 76%
			calc((sin(0.009 * 70 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-primary72: oklch(
		from var(--palette-primary-base-color) 77%
			calc((sin(0.009 * 72 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-primary75: oklch(
		from var(--palette-primary-base-color) 80%
			calc((sin(0.009 * 75 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-primary79: oklch(
		from var(--palette-primary-base-color) 83%
			calc((sin(0.009 * 79 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-primary80: oklch(
		from var(--palette-primary-base-color) 84%
			calc((sin(0.009 * 80 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-primary84: oklch(
		from var(--palette-primary-base-color) 87%
			calc((sin(0.009 * 84 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-primary85: oklch(
		from var(--palette-primary-base-color) 88%
			calc((sin(0.009 * 85 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-primary87: oklch(
		from var(--palette-primary-base-color) 89%
			calc((sin(0.009 * 87 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-primary88: oklch(
		from var(--palette-primary-base-color) 90%
			calc((sin(0.009 * 88 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-primary90: oklch(
		from var(--palette-primary-base-color) 92%
			calc((sin(0.009 * 90 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-primary92: oklch(
		from var(--palette-primary-base-color) 94%
			calc((sin(0.009 * 92 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-primary94: oklch(
		from var(--palette-primary-base-color) 95%
			calc((sin(0.009 * 94 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-primary95: oklch(
		from var(--palette-primary-base-color) 96%
			calc((sin(0.009 * 95 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-primary96: oklch(
		from var(--palette-primary-base-color) 97%
			calc((sin(0.009 * 96 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-primary98: oklch(
		from var(--palette-primary-base-color) 98%
			calc((sin(0.009 * 98 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-primary100: oklch(from var(--palette-primary-base-color) 1 0 h);

	/* secondary */
	--palette-secondary-base-color: oklch(from var(--theme-base-color) l calc(c / 3) h);

	--md-ref-palette-secondary0: oklch(from var(--palette-secondary-base-color) 0 0 h);
	--md-ref-palette-secondary2: oklch(
		from var(--palette-secondary-base-color) 14%
			calc((sin(0.009 * 02 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-secondary3: oklch(
		from var(--palette-secondary-base-color) 16%
			calc((sin(0.009 * 03 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-secondary4: oklch(
		from var(--palette-secondary-base-color) 17%
			calc((sin(0.009 * 04 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-secondary5: oklch(
		from var(--palette-secondary-base-color) 18%
			calc((sin(0.009 * 05 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-secondary6: oklch(
		from var(--palette-secondary-base-color) 20%
			calc((sin(0.009 * 06 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-secondary10: oklch(
		from var(--palette-secondary-base-color) 23%
			calc((sin(0.009 * 10 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-secondary11: oklch(
		from var(--palette-secondary-base-color) 24%
			calc((sin(0.009 * 11 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-secondary12: oklch(
		from var(--palette-secondary-base-color) 25%
			calc((sin(0.009 * 12 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-secondary15: oklch(
		from var(--palette-secondary-base-color) 28%
			calc((sin(0.009 * 15 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-secondary16: oklch(
		from var(--palette-secondary-base-color) 29%
			calc((sin(0.009 * 16 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-secondary17: oklch(
		from var(--palette-secondary-base-color) 30%
			calc((sin(0.009 * 17 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-secondary18: oklch(
		from var(--palette-secondary-base-color) 31%
			calc((sin(0.009 * 18 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-secondary20: oklch(
		from var(--palette-secondary-base-color) 33%
			calc((sin(0.009 * 20 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-secondary21: oklch(
		from var(--palette-secondary-base-color) 33%
			calc((sin(0.009 * 21 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-secondary22: oklch(
		from var(--palette-secondary-base-color) 34%
			calc((sin(0.009 * 22 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-secondary23: oklch(
		from var(--palette-secondary-base-color) 35%
			calc((sin(0.009 * 23 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-secondary24: oklch(
		from var(--palette-secondary-base-color) 36%
			calc((sin(0.009 * 24 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-secondary25: oklch(
		from var(--palette-secondary-base-color) 36%
			calc((sin(0.009 * 25 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-secondary26: oklch(
		from var(--palette-secondary-base-color) 37%
			calc((sin(0.009 * 26 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-secondary29: oklch(
		from var(--palette-secondary-base-color) 40%
			calc((sin(0.009 * 29 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-secondary30: oklch(
		from var(--palette-secondary-base-color) 41%
			calc((sin(0.009 * 30 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-secondary31: oklch(
		from var(--palette-secondary-base-color) 42%
			calc((sin(0.009 * 31 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-secondary34: oklch(
		from var(--palette-secondary-base-color) 44%
			calc((sin(0.009 * 34 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-secondary35: oklch(
		from var(--palette-secondary-base-color) 45%
			calc((sin(0.009 * 35 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-secondary36: oklch(
		from var(--palette-secondary-base-color) 46%
			calc((sin(0.009 * 36 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-secondary40: oklch(
		from var(--palette-secondary-base-color) 51%
			calc((sin(0.009 * 40 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-secondary46: oklch(
		from var(--palette-secondary-base-color) 55%
			calc((sin(0.009 * 46 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-secondary50: oklch(
		from var(--palette-secondary-base-color) 59%
			calc((sin(0.009 * 50 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-secondary60: oklch(
		from var(--palette-secondary-base-color) 68%
			calc((sin(0.009 * 60 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-secondary70: oklch(
		from var(--palette-secondary-base-color) 76%
			calc((sin(0.009 * 70 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-secondary72: oklch(
		from var(--palette-secondary-base-color) 77%
			calc((sin(0.009 * 72 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-secondary75: oklch(
		from var(--palette-secondary-base-color) 80%
			calc((sin(0.009 * 75 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-secondary79: oklch(
		from var(--palette-secondary-base-color) 83%
			calc((sin(0.009 * 79 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-secondary80: oklch(
		from var(--palette-secondary-base-color) 84%
			calc((sin(0.009 * 80 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-secondary84: oklch(
		from var(--palette-secondary-base-color) 87%
			calc((sin(0.009 * 84 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-secondary85: oklch(
		from var(--palette-secondary-base-color) 88%
			calc((sin(0.009 * 85 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-secondary87: oklch(
		from var(--palette-secondary-base-color) 89%
			calc((sin(0.009 * 87 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-secondary88: oklch(
		from var(--palette-secondary-base-color) 90%
			calc((sin(0.009 * 88 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-secondary90: oklch(
		from var(--palette-secondary-base-color) 92%
			calc((sin(0.009 * 90 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-secondary92: oklch(
		from var(--palette-secondary-base-color) 94%
			calc((sin(0.009 * 92 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-secondary94: oklch(
		from var(--palette-secondary-base-color) 95%
			calc((sin(0.009 * 94 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-secondary95: oklch(
		from var(--palette-secondary-base-color) 96%
			calc((sin(0.009 * 95 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-secondary96: oklch(
		from var(--palette-secondary-base-color) 97%
			calc((sin(0.009 * 96 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-secondary98: oklch(
		from var(--palette-secondary-base-color) 98%
			calc((sin(0.009 * 98 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-secondary100: oklch(from var(--palette-secondary-base-color) 1 0 h);

	/* tertiary */
	--palette-tertiary-base-color: oklch(from var(--theme-base-color) l calc(c / 2) calc(h + 60));

	--md-ref-palette-tertiary0: oklch(from var(--palette-tertiary-base-color) 0 0 h);
	--md-ref-palette-tertiary2: oklch(
		from var(--palette-tertiary-base-color) 14%
			calc((sin(0.009 * 02 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-tertiary3: oklch(
		from var(--palette-tertiary-base-color) 16%
			calc((sin(0.009 * 03 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-tertiary4: oklch(
		from var(--palette-tertiary-base-color) 17%
			calc((sin(0.009 * 04 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-tertiary5: oklch(
		from var(--palette-tertiary-base-color) 18%
			calc((sin(0.009 * 05 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-tertiary6: oklch(
		from var(--palette-tertiary-base-color) 20%
			calc((sin(0.009 * 06 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-tertiary10: oklch(
		from var(--palette-tertiary-base-color) 23%
			calc((sin(0.009 * 10 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-tertiary11: oklch(
		from var(--palette-tertiary-base-color) 24%
			calc((sin(0.009 * 11 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-tertiary12: oklch(
		from var(--palette-tertiary-base-color) 25%
			calc((sin(0.009 * 12 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-tertiary15: oklch(
		from var(--palette-tertiary-base-color) 28%
			calc((sin(0.009 * 15 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-tertiary16: oklch(
		from var(--palette-tertiary-base-color) 29%
			calc((sin(0.009 * 16 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-tertiary17: oklch(
		from var(--palette-tertiary-base-color) 30%
			calc((sin(0.009 * 17 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-tertiary18: oklch(
		from var(--palette-tertiary-base-color) 31%
			calc((sin(0.009 * 18 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-tertiary20: oklch(
		from var(--palette-tertiary-base-color) 33%
			calc((sin(0.009 * 20 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-tertiary21: oklch(
		from var(--palette-tertiary-base-color) 33%
			calc((sin(0.009 * 21 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-tertiary22: oklch(
		from var(--palette-tertiary-base-color) 34%
			calc((sin(0.009 * 22 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-tertiary23: oklch(
		from var(--palette-tertiary-base-color) 35%
			calc((sin(0.009 * 23 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-tertiary24: oklch(
		from var(--palette-tertiary-base-color) 36%
			calc((sin(0.009 * 24 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-tertiary25: oklch(
		from var(--palette-tertiary-base-color) 36%
			calc((sin(0.009 * 25 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-tertiary26: oklch(
		from var(--palette-tertiary-base-color) 37%
			calc((sin(0.009 * 26 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-tertiary29: oklch(
		from var(--palette-tertiary-base-color) 40%
			calc((sin(0.009 * 29 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-tertiary30: oklch(
		from var(--palette-tertiary-base-color) 41%
			calc((sin(0.009 * 30 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-tertiary31: oklch(
		from var(--palette-tertiary-base-color) 42%
			calc((sin(0.009 * 31 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-tertiary34: oklch(
		from var(--palette-tertiary-base-color) 44%
			calc((sin(0.009 * 34 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-tertiary35: oklch(
		from var(--palette-tertiary-base-color) 45%
			calc((sin(0.009 * 35 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-tertiary36: oklch(
		from var(--palette-tertiary-base-color) 46%
			calc((sin(0.009 * 36 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-tertiary40: oklch(
		from var(--palette-tertiary-base-color) 51%
			calc((sin(0.009 * 40 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-tertiary46: oklch(
		from var(--palette-tertiary-base-color) 55%
			calc((sin(0.009 * 46 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-tertiary50: oklch(
		from var(--palette-tertiary-base-color) 59%
			calc((sin(0.009 * 50 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-tertiary60: oklch(
		from var(--palette-tertiary-base-color) 68%
			calc((sin(0.009 * 60 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-tertiary70: oklch(
		from var(--palette-tertiary-base-color) 76%
			calc((sin(0.009 * 70 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-tertiary72: oklch(
		from var(--palette-tertiary-base-color) 77%
			calc((sin(0.009 * 72 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-tertiary75: oklch(
		from var(--palette-tertiary-base-color) 80%
			calc((sin(0.009 * 75 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-tertiary79: oklch(
		from var(--palette-tertiary-base-color) 83%
			calc((sin(0.009 * 79 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-tertiary80: oklch(
		from var(--palette-tertiary-base-color) 84%
			calc((sin(0.009 * 80 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-tertiary84: oklch(
		from var(--palette-tertiary-base-color) 87%
			calc((sin(0.009 * 84 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-tertiary85: oklch(
		from var(--palette-tertiary-base-color) 88%
			calc((sin(0.009 * 85 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-tertiary87: oklch(
		from var(--palette-tertiary-base-color) 89%
			calc((sin(0.009 * 87 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-tertiary88: oklch(
		from var(--palette-tertiary-base-color) 90%
			calc((sin(0.009 * 88 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-tertiary90: oklch(
		from var(--palette-tertiary-base-color) 92%
			calc((sin(0.009 * 90 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-tertiary92: oklch(
		from var(--palette-tertiary-base-color) 94%
			calc((sin(0.009 * 92 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-tertiary94: oklch(
		from var(--palette-tertiary-base-color) 95%
			calc((sin(0.009 * 94 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-tertiary95: oklch(
		from var(--palette-tertiary-base-color) 96%
			calc((sin(0.009 * 95 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-tertiary96: oklch(
		from var(--palette-tertiary-base-color) 97%
			calc((sin(0.009 * 96 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-tertiary98: oklch(
		from var(--palette-tertiary-base-color) 98%
			calc((sin(0.009 * 98 * pi) * c / var(--chroma-factor))) h
	);
	--md-ref-palette-tertiary100: oklch(from var(--palette-tertiary-base-color) 1 0 h);

	/* neutral */
	--chroma-factor-neutral: 0.5;
	--palette-neutral-base-color: oklch(from var(--theme-base-color) l min(calc(c / 12), 0.01) h);

	--md-ref-palette-neutral0: oklch(from var(--palette-neutral-base-color) 0 0 h);
	--md-ref-palette-neutral2: oklch(
		from var(--palette-neutral-base-color) 14%
			calc((sin(0.009 * 02 * pi) * c / var(--chroma-factor-neutral))) h
	);
	--md-ref-palette-neutral3: oklch(
		from var(--palette-neutral-base-color) 16%
			calc((sin(0.009 * 03 * pi) * c / var(--chroma-factor-neutral))) h
	);
	--md-ref-palette-neutral4: oklch(
		from var(--palette-neutral-base-color) 17%
			calc((sin(0.009 * 04 * pi) * c / var(--chroma-factor-neutral))) h
	);
	--md-ref-palette-neutral5: oklch(
		from var(--palette-neutral-base-color) 18%
			calc((sin(0.009 * 05 * pi) * c / var(--chroma-factor-neutral))) h
	);
	--md-ref-palette-neutral6: oklch(
		from var(--palette-neutral-base-color) 20%
			calc((sin(0.009 * 06 * pi) * c / var(--chroma-factor-neutral))) h
	);
	--md-ref-palette-neutral10: oklch(
		from var(--palette-neutral-base-color) 23%
			calc((sin(0.009 * 10 * pi) * c / var(--chroma-factor-neutral))) h
	);
	--md-ref-palette-neutral11: oklch(
		from var(--palette-neutral-base-color) 24%
			calc((sin(0.009 * 11 * pi) * c / var(--chroma-factor-neutral))) h
	);
	--md-ref-palette-neutral12: oklch(
		from var(--palette-neutral-base-color) 25%
			calc((sin(0.009 * 12 * pi) * c / var(--chroma-factor-neutral))) h
	);
	--md-ref-palette-neutral15: oklch(
		from var(--palette-neutral-base-color) 28%
			calc((sin(0.009 * 15 * pi) * c / var(--chroma-factor-neutral))) h
	);
	--md-ref-palette-neutral16: oklch(
		from var(--palette-neutral-base-color) 29%
			calc((sin(0.009 * 16 * pi) * c / var(--chroma-factor-neutral))) h
	);
	--md-ref-palette-neutral17: oklch(
		from var(--palette-neutral-base-color) 30%
			calc((sin(0.009 * 17 * pi) * c / var(--chroma-factor-neutral))) h
	);
	--md-ref-palette-neutral18: oklch(
		from var(--palette-neutral-base-color) 31%
			calc((sin(0.009 * 18 * pi) * c / var(--chroma-factor-neutral))) h
	);
	--md-ref-palette-neutral20: oklch(
		from var(--palette-neutral-base-color) 33%
			calc((sin(0.009 * 20 * pi) * c / var(--chroma-factor-neutral))) h
	);
	--md-ref-palette-neutral21: oklch(
		from var(--palette-neutral-base-color) 33%
			calc((sin(0.009 * 21 * pi) * c / var(--chroma-factor-neutral))) h
	);
	--md-ref-palette-neutral22: oklch(
		from var(--palette-neutral-base-color) 34%
			calc((sin(0.009 * 22 * pi) * c / var(--chroma-factor-neutral))) h
	);
	--md-ref-palette-neutral23: oklch(
		from var(--palette-neutral-base-color) 35%
			calc((sin(0.009 * 23 * pi) * c / var(--chroma-factor-neutral))) h
	);
	--md-ref-palette-neutral24: oklch(
		from var(--palette-neutral-base-color) 36%
			calc((sin(0.009 * 24 * pi) * c / var(--chroma-factor-neutral))) h
	);
	--md-ref-palette-neutral25: oklch(
		from var(--palette-neutral-base-color) 36%
			calc((sin(0.009 * 25 * pi) * c / var(--chroma-factor-neutral))) h
	);
	--md-ref-palette-neutral26: oklch(
		from var(--palette-neutral-base-color) 37%
			calc((sin(0.009 * 26 * pi) * c / var(--chroma-factor-neutral))) h
	);
	--md-ref-palette-neutral29: oklch(
		from var(--palette-neutral-base-color) 40%
			calc((sin(0.009 * 29 * pi) * c / var(--chroma-factor-neutral))) h
	);
	--md-ref-palette-neutral30: oklch(
		from var(--palette-neutral-base-color) 41%
			calc((sin(0.009 * 30 * pi) * c / var(--chroma-factor-neutral))) h
	);
	--md-ref-palette-neutral31: oklch(
		from var(--palette-neutral-base-color) 42%
			calc((sin(0.009 * 31 * pi) * c / var(--chroma-factor-neutral))) h
	);
	--md-ref-palette-neutral34: oklch(
		from var(--palette-neutral-base-color) 44%
			calc((sin(0.009 * 34 * pi) * c / var(--chroma-factor-neutral))) h
	);
	--md-ref-palette-neutral35: oklch(
		from var(--palette-neutral-base-color) 45%
			calc((sin(0.009 * 35 * pi) * c / var(--chroma-factor-neutral))) h
	);
	--md-ref-palette-neutral36: oklch(
		from var(--palette-neutral-base-color) 46%
			calc((sin(0.009 * 36 * pi) * c / var(--chroma-factor-neutral))) h
	);
	--md-ref-palette-neutral40: oklch(
		from var(--palette-neutral-base-color) 51%
			calc((sin(0.009 * 40 * pi) * c / var(--chroma-factor-neutral))) h
	);
	--md-ref-palette-neutral46: oklch(
		from var(--palette-neutral-base-color) 55%
			calc((sin(0.009 * 46 * pi) * c / var(--chroma-factor-neutral))) h
	);
	--md-ref-palette-neutral50: oklch(
		from var(--palette-neutral-base-color) 59%
			calc((sin(0.009 * 50 * pi) * c / var(--chroma-factor-neutral))) h
	);
	--md-ref-palette-neutral60: oklch(
		from var(--palette-neutral-base-color) 68%
			calc((sin(0.009 * 60 * pi) * c / var(--chroma-factor-neutral))) h
	);
	--md-ref-palette-neutral70: oklch(
		from var(--palette-neutral-base-color) 76%
			calc((sin(0.009 * 70 * pi) * c / var(--chroma-factor-neutral))) h
	);
	--md-ref-palette-neutral72: oklch(
		from var(--palette-neutral-base-color) 77%
			calc((sin(0.009 * 72 * pi) * c / var(--chroma-factor-neutral))) h
	);
	--md-ref-palette-neutral75: oklch(
		from var(--palette-neutral-base-color) 80%
			calc((sin(0.009 * 75 * pi) * c / var(--chroma-factor-neutral))) h
	);
	--md-ref-palette-neutral79: oklch(
		from var(--palette-neutral-base-color) 83%
			calc((sin(0.009 * 79 * pi) * c / var(--chroma-factor-neutral))) h
	);
	--md-ref-palette-neutral80: oklch(
		from var(--palette-neutral-base-color) 84%
			calc((sin(0.009 * 80 * pi) * c / var(--chroma-factor-neutral))) h
	);
	--md-ref-palette-neutral84: oklch(
		from var(--palette-neutral-base-color) 87%
			calc((sin(0.009 * 84 * pi) * c / var(--chroma-factor-neutral))) h
	);
	--md-ref-palette-neutral85: oklch(
		from var(--palette-neutral-base-color) 88%
			calc((sin(0.009 * 85 * pi) * c / var(--chroma-factor-neutral))) h
	);
	--md-ref-palette-neutral87: oklch(
		from var(--palette-neutral-base-color) 89%
			calc((sin(0.009 * 87 * pi) * c / var(--chroma-factor-neutral))) h
	);
	--md-ref-palette-neutral88: oklch(
		from var(--palette-neutral-base-color) 90%
			calc((sin(0.009 * 88 * pi) * c / var(--chroma-factor-neutral))) h
	);
	--md-ref-palette-neutral90: oklch(
		from var(--palette-neutral-base-color) 92%
			calc((sin(0.009 * 90 * pi) * c / var(--chroma-factor-neutral))) h
	);
	--md-ref-palette-neutral92: oklch(
		from var(--palette-neutral-base-color) 94%
			calc((sin(0.009 * 92 * pi) * c / var(--chroma-factor-neutral))) h
	);
	--md-ref-palette-neutral94: oklch(
		from var(--palette-neutral-base-color) 95%
			calc((sin(0.009 * 94 * pi) * c / var(--chroma-factor-neutral))) h
	);
	--md-ref-palette-neutral95: oklch(
		from var(--palette-neutral-base-color) 96%
			calc((sin(0.009 * 95 * pi) * c / var(--chroma-factor-neutral))) h
	);
	--md-ref-palette-neutral96: oklch(
		from var(--palette-neutral-base-color) 97%
			calc((sin(0.009 * 96 * pi) * c / var(--chroma-factor-neutral))) h
	);
	--md-ref-palette-neutral98: oklch(
		from var(--palette-neutral-base-color) 98%
			calc((sin(0.009 * 98 * pi) * c / var(--chroma-factor-neutral))) h
	);
	--md-ref-palette-neutral100: oklch(from var(--palette-neutral-base-color) 1 0 h);

	/* neutral-variant */
	--palette-neutral-variant-base-color: oklch(
		from var(--theme-base-color) l min(calc(c / 6), 0.02) h
	);

	--md-ref-palette-neutral-variant0: oklch(from var(--palette-neutral-variant-base-color) 0 0 h);
	--md-ref-palette-neutral-variant2: oklch(
		from var(--palette-neutral-variant-base-color) 14%
			calc((sin(0.009 * 02 * pi) * c / var(--chroma-factor-neutral))) h
	);
	--md-ref-palette-neutral-variant3: oklch(
		from var(--palette-neutral-variant-base-color) 16%
			calc((sin(0.009 * 03 * pi) * c / var(--chroma-factor-neutral))) h
	);
	--md-ref-palette-neutral-variant4: oklch(
		from var(--palette-neutral-variant-base-color) 17%
			calc((sin(0.009 * 04 * pi) * c / var(--chroma-factor-neutral))) h
	);
	--md-ref-palette-neutral-variant5: oklch(
		from var(--palette-neutral-variant-base-color) 18%
			calc((sin(0.009 * 05 * pi) * c / var(--chroma-factor-neutral))) h
	);
	--md-ref-palette-neutral-variant6: oklch(
		from var(--palette-neutral-variant-base-color) 20%
			calc((sin(0.009 * 06 * pi) * c / var(--chroma-factor-neutral))) h
	);
	--md-ref-palette-neutral-variant10: oklch(
		from var(--palette-neutral-variant-base-color) 23%
			calc((sin(0.009 * 10 * pi) * c / var(--chroma-factor-neutral))) h
	);
	--md-ref-palette-neutral-variant11: oklch(
		from var(--palette-neutral-variant-base-color) 24%
			calc((sin(0.009 * 11 * pi) * c / var(--chroma-factor-neutral))) h
	);
	--md-ref-palette-neutral-variant12: oklch(
		from var(--palette-neutral-variant-base-color) 25%
			calc((sin(0.009 * 12 * pi) * c / var(--chroma-factor-neutral))) h
	);
	--md-ref-palette-neutral-variant15: oklch(
		from var(--palette-neutral-variant-base-color) 28%
			calc((sin(0.009 * 15 * pi) * c / var(--chroma-factor-neutral))) h
	);
	--md-ref-palette-neutral-variant16: oklch(
		from var(--palette-neutral-variant-base-color) 29%
			calc((sin(0.009 * 16 * pi) * c / var(--chroma-factor-neutral))) h
	);
	--md-ref-palette-neutral-variant17: oklch(
		from var(--palette-neutral-variant-base-color) 30%
			calc((sin(0.009 * 17 * pi) * c / var(--chroma-factor-neutral))) h
	);
	--md-ref-palette-neutral-variant18: oklch(
		from var(--palette-neutral-variant-base-color) 31%
			calc((sin(0.009 * 18 * pi) * c / var(--chroma-factor-neutral))) h
	);
	--md-ref-palette-neutral-variant20: oklch(
		from var(--palette-neutral-variant-base-color) 33%
			calc((sin(0.009 * 20 * pi) * c / var(--chroma-factor-neutral))) h
	);
	--md-ref-palette-neutral-variant21: oklch(
		from var(--palette-neutral-variant-base-color) 33%
			calc((sin(0.009 * 21 * pi) * c / var(--chroma-factor-neutral))) h
	);
	--md-ref-palette-neutral-variant22: oklch(
		from var(--palette-neutral-variant-base-color) 34%
			calc((sin(0.009 * 22 * pi) * c / var(--chroma-factor-neutral))) h
	);
	--md-ref-palette-neutral-variant23: oklch(
		from var(--palette-neutral-variant-base-color) 35%
			calc((sin(0.009 * 23 * pi) * c / var(--chroma-factor-neutral))) h
	);
	--md-ref-palette-neutral-variant24: oklch(
		from var(--palette-neutral-variant-base-color) 36%
			calc((sin(0.009 * 24 * pi) * c / var(--chroma-factor-neutral))) h
	);
	--md-ref-palette-neutral-variant25: oklch(
		from var(--palette-neutral-variant-base-color) 36%
			calc((sin(0.009 * 25 * pi) * c / var(--chroma-factor-neutral))) h
	);
	--md-ref-palette-neutral-variant26: oklch(
		from var(--palette-neutral-variant-base-color) 37%
			calc((sin(0.009 * 26 * pi) * c / var(--chroma-factor-neutral))) h
	);
	--md-ref-palette-neutral-variant29: oklch(
		from var(--palette-neutral-variant-base-color) 40%
			calc((sin(0.009 * 29 * pi) * c / var(--chroma-factor-neutral))) h
	);
	--md-ref-palette-neutral-variant30: oklch(
		from var(--palette-neutral-variant-base-color) 41%
			calc((sin(0.009 * 30 * pi) * c / var(--chroma-factor-neutral))) h
	);
	--md-ref-palette-neutral-variant31: oklch(
		from var(--palette-neutral-variant-base-color) 42%
			calc((sin(0.009 * 31 * pi) * c / var(--chroma-factor-neutral))) h
	);
	--md-ref-palette-neutral-variant34: oklch(
		from var(--palette-neutral-variant-base-color) 44%
			calc((sin(0.009 * 34 * pi) * c / var(--chroma-factor-neutral))) h
	);
	--md-ref-palette-neutral-variant35: oklch(
		from var(--palette-neutral-variant-base-color) 45%
			calc((sin(0.009 * 35 * pi) * c / var(--chroma-factor-neutral))) h
	);
	--md-ref-palette-neutral-variant36: oklch(
		from var(--palette-neutral-variant-base-color) 46%
			calc((sin(0.009 * 36 * pi) * c / var(--chroma-factor-neutral))) h
	);
	--md-ref-palette-neutral-variant40: oklch(
		from var(--palette-neutral-variant-base-color) 51%
			calc((sin(0.009 * 40 * pi) * c / var(--chroma-factor-neutral))) h
	);
	--md-ref-palette-neutral-variant46: oklch(
		from var(--palette-neutral-variant-base-color) 55%
			calc((sin(0.009 * 46 * pi) * c / var(--chroma-factor-neutral))) h
	);
	--md-ref-palette-neutral-variant50: oklch(
		from var(--palette-neutral-variant-base-color) 59%
			calc((sin(0.009 * 50 * pi) * c / var(--chroma-factor-neutral))) h
	);
	--md-ref-palette-neutral-variant60: oklch(
		from var(--palette-neutral-variant-base-color) 68%
			calc((sin(0.009 * 60 * pi) * c / var(--chroma-factor-neutral))) h
	);
	--md-ref-palette-neutral-variant70: oklch(
		from var(--palette-neutral-variant-base-color) 76%
			calc((sin(0.009 * 70 * pi) * c / var(--chroma-factor-neutral))) h
	);
	--md-ref-palette-neutral-variant72: oklch(
		from var(--palette-neutral-variant-base-color) 77%
			calc((sin(0.009 * 72 * pi) * c / var(--chroma-factor-neutral))) h
	);
	--md-ref-palette-neutral-variant75: oklch(
		from var(--palette-neutral-variant-base-color) 80%
			calc((sin(0.009 * 75 * pi) * c / var(--chroma-factor-neutral))) h
	);
	--md-ref-palette-neutral-variant79: oklch(
		from var(--palette-neutral-variant-base-color) 83%
			calc((sin(0.009 * 79 * pi) * c / var(--chroma-factor-neutral))) h
	);
	--md-ref-palette-neutral-variant80: oklch(
		from var(--palette-neutral-variant-base-color) 84%
			calc((sin(0.009 * 80 * pi) * c / var(--chroma-factor-neutral))) h
	);
	--md-ref-palette-neutral-variant84: oklch(
		from var(--palette-neutral-variant-base-color) 87%
			calc((sin(0.009 * 84 * pi) * c / var(--chroma-factor-neutral))) h
	);
	--md-ref-palette-neutral-variant85: oklch(
		from var(--palette-neutral-variant-base-color) 88%
			calc((sin(0.009 * 85 * pi) * c / var(--chroma-factor-neutral))) h
	);
	--md-ref-palette-neutral-variant87: oklch(
		from var(--palette-neutral-variant-base-color) 89%
			calc((sin(0.009 * 87 * pi) * c / var(--chroma-factor-neutral))) h
	);
	--md-ref-palette-neutral-variant88: oklch(
		from var(--palette-neutral-variant-base-color) 90%
			calc((sin(0.009 * 88 * pi) * c / var(--chroma-factor-neutral))) h
	);
	--md-ref-palette-neutral-variant90: oklch(
		from var(--palette-neutral-variant-base-color) 92%
			calc((sin(0.009 * 90 * pi) * c / var(--chroma-factor-neutral))) h
	);
	--md-ref-palette-neutral-variant92: oklch(
		from var(--palette-neutral-variant-base-color) 94%
			calc((sin(0.009 * 92 * pi) * c / var(--chroma-factor-neutral))) h
	);
	--md-ref-palette-neutral-variant94: oklch(
		from var(--palette-neutral-variant-base-color) 95%
			calc((sin(0.009 * 94 * pi) * c / var(--chroma-factor-neutral))) h
	);
	--md-ref-palette-neutral-variant95: oklch(
		from var(--palette-neutral-variant-base-color) 96%
			calc((sin(0.009 * 95 * pi) * c / var(--chroma-factor-neutral))) h
	);
	--md-ref-palette-neutral-variant96: oklch(
		from var(--palette-neutral-variant-base-color) 97%
			calc((sin(0.009 * 96 * pi) * c / var(--chroma-factor-neutral))) h
	);
	--md-ref-palette-neutral-variant98: oklch(
		from var(--palette-neutral-variant-base-color) 98%
			calc((sin(0.009 * 98 * pi) * c / var(--chroma-factor-neutral))) h
	);
	--md-ref-palette-neutral-variant100: oklch(from var(--palette-neutral-variant-base-color) 1 0 h);

	/* error */
	--chroma-factor-error: 1;
	--palette-error-base-color: oklch(from var(--theme-base-color) l 0.2 25);

	--md-ref-palette-error0: oklch(from var(--palette-error-base-color) 0 0 h);
	--md-ref-palette-error2: oklch(
		from var(--palette-error-base-color) 14%
			calc((sin(0.009 * 02 * pi) * c / var(--chroma-factor-error))) h
	);
	--md-ref-palette-error3: oklch(
		from var(--palette-error-base-color) 16%
			calc((sin(0.009 * 03 * pi) * c / var(--chroma-factor-error))) h
	);
	--md-ref-palette-error4: oklch(
		from var(--palette-error-base-color) 17%
			calc((sin(0.009 * 04 * pi) * c / var(--chroma-factor-error))) h
	);
	--md-ref-palette-error5: oklch(
		from var(--palette-error-base-color) 18%
			calc((sin(0.009 * 05 * pi) * c / var(--chroma-factor-error))) h
	);
	--md-ref-palette-error6: oklch(
		from var(--palette-error-base-color) 20%
			calc((sin(0.009 * 06 * pi) * c / var(--chroma-factor-error))) h
	);
	--md-ref-palette-error10: oklch(
		from var(--palette-error-base-color) 23%
			calc((sin(0.009 * 10 * pi) * c / var(--chroma-factor-error))) h
	);
	--md-ref-palette-error11: oklch(
		from var(--palette-error-base-color) 24%
			calc((sin(0.009 * 11 * pi) * c / var(--chroma-factor-error))) h
	);
	--md-ref-palette-error12: oklch(
		from var(--palette-error-base-color) 25%
			calc((sin(0.009 * 12 * pi) * c / var(--chroma-factor-error))) h
	);
	--md-ref-palette-error15: oklch(
		from var(--palette-error-base-color) 28%
			calc((sin(0.009 * 15 * pi) * c / var(--chroma-factor-error))) h
	);
	--md-ref-palette-error16: oklch(
		from var(--palette-error-base-color) 29%
			calc((sin(0.009 * 16 * pi) * c / var(--chroma-factor-error))) h
	);
	--md-ref-palette-error17: oklch(
		from var(--palette-error-base-color) 30%
			calc((sin(0.009 * 17 * pi) * c / var(--chroma-factor-error))) h
	);
	--md-ref-palette-error18: oklch(
		from var(--palette-error-base-color) 31%
			calc((sin(0.009 * 18 * pi) * c / var(--chroma-factor-error))) h
	);
	--md-ref-palette-error20: oklch(
		from var(--palette-error-base-color) 33%
			calc((sin(0.009 * 20 * pi) * c / var(--chroma-factor-error))) h
	);
	--md-ref-palette-error21: oklch(
		from var(--palette-error-base-color) 33%
			calc((sin(0.009 * 21 * pi) * c / var(--chroma-factor-error))) h
	);
	--md-ref-palette-error22: oklch(
		from var(--palette-error-base-color) 34%
			calc((sin(0.009 * 22 * pi) * c / var(--chroma-factor-error))) h
	);
	--md-ref-palette-error23: oklch(
		from var(--palette-error-base-color) 35%
			calc((sin(0.009 * 23 * pi) * c / var(--chroma-factor-error))) h
	);
	--md-ref-palette-error24: oklch(
		from var(--palette-error-base-color) 36%
			calc((sin(0.009 * 24 * pi) * c / var(--chroma-factor-error))) h
	);
	--md-ref-palette-error25: oklch(
		from var(--palette-error-base-color) 36%
			calc((sin(0.009 * 25 * pi) * c / var(--chroma-factor-error))) h
	);
	--md-ref-palette-error26: oklch(
		from var(--palette-error-base-color) 37%
			calc((sin(0.009 * 26 * pi) * c / var(--chroma-factor-error))) h
	);
	--md-ref-palette-error29: oklch(
		from var(--palette-error-base-color) 40%
			calc((sin(0.009 * 29 * pi) * c / var(--chroma-factor-error))) h
	);
	--md-ref-palette-error30: oklch(
		from var(--palette-error-base-color) 41%
			calc((sin(0.009 * 30 * pi) * c / var(--chroma-factor-error))) h
	);
	--md-ref-palette-error31: oklch(
		from var(--palette-error-base-color) 42%
			calc((sin(0.009 * 31 * pi) * c / var(--chroma-factor-error))) h
	);
	--md-ref-palette-error34: oklch(
		from var(--palette-error-base-color) 44%
			calc((sin(0.009 * 34 * pi) * c / var(--chroma-factor-error))) h
	);
	--md-ref-palette-error35: oklch(
		from var(--palette-error-base-color) 45%
			calc((sin(0.009 * 35 * pi) * c / var(--chroma-factor-error))) h
	);
	--md-ref-palette-error36: oklch(
		from var(--palette-error-base-color) 46%
			calc((sin(0.009 * 36 * pi) * c / var(--chroma-factor-error))) h
	);
	--md-ref-palette-error40: oklch(
		from var(--palette-error-base-color) 51%
			calc((sin(0.009 * 40 * pi) * c / var(--chroma-factor-error))) h
	);
	--md-ref-palette-error46: oklch(
		from var(--palette-error-base-color) 55%
			calc((sin(0.009 * 46 * pi) * c / var(--chroma-factor-error))) h
	);
	--md-ref-palette-error50: oklch(
		from var(--palette-error-base-color) 59%
			calc((sin(0.009 * 50 * pi) * c / var(--chroma-factor-error))) h
	);
	--md-ref-palette-error60: oklch(
		from var(--palette-error-base-color) 68%
			calc((sin(0.009 * 60 * pi) * c / var(--chroma-factor-error))) h
	);
	--md-ref-palette-error70: oklch(
		from var(--palette-error-base-color) 76%
			calc((sin(0.009 * 70 * pi) * c / var(--chroma-factor-error))) h
	);
	--md-ref-palette-error72: oklch(
		from var(--palette-error-base-color) 77%
			calc((sin(0.009 * 72 * pi) * c / var(--chroma-factor-error))) h
	);
	--md-ref-palette-error75: oklch(
		from var(--palette-error-base-color) 80%
			calc((sin(0.009 * 75 * pi) * c / var(--chroma-factor-error))) h
	);
	--md-ref-palette-error79: oklch(
		from var(--palette-error-base-color) 83%
			calc((sin(0.009 * 79 * pi) * c / var(--chroma-factor-error))) h
	);
	--md-ref-palette-error80: oklch(
		from var(--palette-error-base-color) 84%
			calc((sin(0.009 * 80 * pi) * c / var(--chroma-factor-error))) h
	);
	--md-ref-palette-error84: oklch(
		from var(--palette-error-base-color) 87%
			calc((sin(0.009 * 84 * pi) * c / var(--chroma-factor-error))) h
	);
	--md-ref-palette-error85: oklch(
		from var(--palette-error-base-color) 88%
			calc((sin(0.009 * 85 * pi) * c / var(--chroma-factor-error))) h
	);
	--md-ref-palette-error87: oklch(
		from var(--palette-error-base-color) 89%
			calc((sin(0.009 * 87 * pi) * c / var(--chroma-factor-error))) h
	);
	--md-ref-palette-error88: oklch(
		from var(--palette-error-base-color) 90%
			calc((sin(0.009 * 88 * pi) * c / var(--chroma-factor-error))) h
	);
	--md-ref-palette-error90: oklch(
		from var(--palette-error-base-color) 92%
			calc((sin(0.009 * 90 * pi) * c / var(--chroma-factor-error))) h
	);
	--md-ref-palette-error92: oklch(
		from var(--palette-error-base-color) 94%
			calc((sin(0.009 * 92 * pi) * c / var(--chroma-factor-error))) h
	);
	--md-ref-palette-error94: oklch(
		from var(--palette-error-base-color) 95%
			calc((sin(0.009 * 94 * pi) * c / var(--chroma-factor-error))) h
	);
	--md-ref-palette-error95: oklch(
		from var(--palette-error-base-color) 96%
			calc((sin(0.009 * 95 * pi) * c / var(--chroma-factor-error))) h
	);
	--md-ref-palette-error96: oklch(
		from var(--palette-error-base-color) 97%
			calc((sin(0.009 * 96 * pi) * c / var(--chroma-factor-error))) h
	);
	--md-ref-palette-error98: oklch(
		from var(--palette-error-base-color) 98%
			calc((sin(0.009 * 98 * pi) * c / var(--chroma-factor-error))) h
	);
	--md-ref-palette-error100: oklch(from var(--palette-error-base-color) 1 0 h);
}
