<dialog #loadDeckDialog closedby="any">
	<div class="load-deck">
		<h2 class="md-typescale-headline-small">Load deck</h2>
		<div>
			<label for="load-deck">Deck</label>
			<select class="load-deck-select" id="load-deck" [field]="loadDeckForm()">
				@for (collectionDeck of sortedCollectionDecks(); track collectionDeck._id) {
				<option [value]="collectionDeck._id">{{collectionDeck.name}}</option>
				}
			</select>
		</div>
		<div class="load-deck-actions">
			<button (click)="closeLoadDeckDialog()">Cancel</button>
			<button (click)="loadDeckAndCloseDialog()" [disabled]="loadDeckForm()().invalid()">Load</button>
		</div>
	</div>
</dialog>
