<div class="heading">
	<h1>{{deckName() || 'New deck'}}</h1>
	<span>{{totalCardQuantity()}} cards in deck</span>
</div>
<div class="deck-actions">
	@if(existingDeck()) {
	<button (click)="updateCollectionCardDeck.emit()">Save</button>
	}
	@else {
	<button (click)="addCollectionCardDeck.emit()">Save</button>
	}
	<button (click)="openLoadDeckDialog.emit()">Load deck</button>
	<button [disabled]="!existingDeck()" (click)="addCollectionCardDeck.emit()">Create copy</button>
	<button (click)="reset.emit()">Reset</button>
	<button [disabled]="!existingDeck()" (click)="deleteCollectionCardDeck.emit()">Delete</button>
	<button (click)="openLimitlessDeckBuilder.emit()">Share</button>
</div>
<div class="deck-cards">
	@for(card of deckCards(); track card.id) {
	<tcg-card (click)="openCardDetail.emit(card)" [quantity]="card.quantity" class="deck-card"
		[style.--background-image-url]="`url(${card.image}/low.webp)`"></tcg-card>
	}
</div>
