:host {
	display: contents;
}

.reset-deck {
	display: grid;
	gap: 16px;
}

.load-deck-title {
	font: var(--md-sys-typescale-headline-small);
}

.reset-deck-actions {
	display: grid;
	grid-auto-flow: column;
	justify-content: end;
	gap: 12px;
}
